body {
	background-color: #333;
	font-family: sans-serif;
}

.title {
	color: #ddd;
	font-size: 38px;
	user-select: none;
	text-align: center;
	margin-bottom: 20px;
}

.title-label {
	cursor: pointer;
}

.title input {
	display: none;
	background: transparent;
	border: 0px;
	color: #ddd;
	font-size: 38px;
}

.title input:focus {
	background: #666;
}

.tierlist {
	width: 80%;
}

.tierlist th, td {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row;
	font-size: 30px;
	font-family: sans-serif;
	border: 0;
	padding: 0;
}

.tierlist tr {
	border: 0px solid #666;
	border-top-width: 1px;
	border-right-width: 1px;
	display: flex;
	user-select: none;
	padding-right: 100px;
}

.last-row {
	border-bottom-width: 1px !important;
}

.tierlist tr:hover {
	background-color: #666;
}

.tierlist tr.drag-entered {
	background-color: #888;
}

.s {
	background: #ff6666;
}

.a {
	background: #f0a731;
}

.b {
	background: #f4d95b;
}

.c {
	background: #66ff66;
}

.d {
	background: #58c8f4;
}

.e {
	background: #5b76f4;
}

.f {
	background: #f45bed;
}

.images {
	display: flex;
	border: 1px solid #666;
	min-height: 100px;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: wrap;
	width: 80%;
	margin-top: 20px;
	flex-wrap: wrap;
}

.images.drag-entered {
	background-color: #888;
}

img.draggable {
	cursor: grab;
	width: 100px;
	height: 100px;
}

img.draggable:hover, .button:hover {
	filter: brightness(0.6);
}

img.draggable.dragged, .button:active {
	filter: brightness(0.4);
}

.button img {
	user-select: none;
}

.bottom-container {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-top: 20px;
}

.bottom-container input {
	border: 0;
	padding: 0;
	display: none;
}

.bottom-container > div {
	margin: 0;
}

.button {
	border: 1px solid #666;
	height: 100px;
}
